.App {
   text-align: center;
   
}
.cards{
   display: flex;
   justify-content: center;

}

body{
   background-image: url('../images/background4.png');
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   /* background-image: linear-gradient(to right, #9896f0, #fbc8d5); */
}
